@media screen and (max-width: 1400px){
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    #about {
        margin-top: 2rem;
    }

    #profile {
        display: block;
        margin-bottom: 0;
    }

    .arrow{
        display: none;
    }

    section {
        height: fit-content;
        margin: 5rem 2%;
    }

    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers{
        margin-top: 0;
    }

    .about-text-container p{
        width: 80vw;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {

    body{
        font-size: medium;
    }

    #contact {
        height: 80vh;
    }

    #profile{
        height: 83vh;
        margin-bottom: 0;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-icon{
        display: none;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.25rem;
        text-align: center;
    }

    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text_p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }


}

